:root {
  --bg-color-1: #272732;
  --bg-color-2: #202035;
  --bg-color-3: #2a2c43;
  --bg-color-4: #242834;

  --font-color-1: #d0cae5;
  --font-color-2: #c3c2c7;
  --font-color-3: #ffffff;
  --font-color-4: #2b2b3d;

  --active-color: #353854;

  --accent-color-1: #7464fb;
  --accent-color-2: #5c54cb;
  --accent-color-3: #6464fb;

  --danger-zone-color: #ff4557;

  --max-width: 70%;

  --margin-extra-big: 15rem;
  --margin-big: 8rem;
  --margin-medium: 6rem;
  --margin-small: 4rem;

  --default-font-size: 1.8rem;
  --link-font-size: 1.5rem;

  --default-border-radius: 0.5rem;
  --big-border-radius: 0.8rem;

  --shadow-dark: 0.5rem 2.5rem 5rem rgba(0, 0, 0, 0.35);
  --shadow-medium: 0 2rem 4.5rem rgba(0, 0, 0, 0.35);
  --shadow-light: 0.5rem 1.5rem 2rem rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui;
  font-size: var(--default-font-size);
  font-weight: 400;
  color: var(--font-color-1);
  min-height: 100vh;
  line-height: 1.5;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
  backface-visibility: hidden;

  position: relative;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(39, 39, 50, 0.95),
      rgba(36, 40, 52, 0.9)
    ),
    url('/img/bgs/bg11.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1000;
}

a:link,
a:visited {
  color: var(--font-color-3);
  text-decoration: none;
}

.logo-box {
  position: absolute;
  top: 6rem;
  left: 8rem;
  cursor: pointer;
}

.logo {
  width: 15rem;
}

.download {
  max-width: 35%;
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    var(--bg-color-1),
    var(--bg-color-4)
  );
  padding: 4rem 2rem;
  padding-top: 3rem;
  border-radius: 2rem;
  box-shadow: var(--shadow-medium);
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.error--box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.error--icon img {
  pointer-events: none;
  height: 31rem;
  width: 37rem;
  box-shadow: var(--shadow-medium);
  background-color: var(--accent-color-1);
  border-radius: var(--big-border-radius);
}

.error-text {
  color: var(--danger-zone-color);
  margin-top: 2rem;
  width: 69%;
  font-weight: 600;
}

.paragraph-error {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.3;
  text-shadow: var(--shadow-medium);
}

.download__icon-box {
  pointer-events: none;
  margin-bottom: 2.5rem;
}

.download__icon {
  height: 13rem;
}

small {
  font-weight: 600;
}

.heading-tertiary {
  font-size: 2.5rem;
  line-height: 1.35;
  margin-bottom: 0.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.paragraph {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}

.download__item-meta {
  margin-bottom: 1.8rem;
}

.download__item-meta h4 {
  line-height: 1.3;
}

.btn {
  color: var(--font-color-3);
  font-weight: 600;
  padding: 0.8rem 2.2rem;
  cursor: pointer;
  display: inline-block;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.btn--start {
  background-color: var(--accent-color-1);
  border-radius: var(--default-border-radius);
  backface-visibility: hidden;
  transition: all 0.2s ease;
}

.btn--start:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-medium);
}

.btn--start:active {
  transform: translateY(0px);
  box-shadow: var(--shadow-light);
}

.margin-bottom-small {
  margin-bottom: 2rem;
}
