@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

:root {
  --bg-color-1: #1a1a1a;
  --bg-color-2: #212121;
  --accent-color-1: #624ad8;
  --accent-color-2: rgba(101, 77, 237, 0.7);
  --text-color-1: #fff;
  --text-color-2: #c4c5c5;
  --box-shadow-1: rgba(47, 184, 255, 0.1) 0px 10px 40px,
    #2fb8ff 0px 0px 0px 1px inset;
  --box-shadow-2: rgba(47, 184, 255, 0.2) 0px 10px 40px,
    #2fb8ff 0px 0px 0px 2px inset;
  --border: 0.5px solid hsla(0, 0%, 100%, 0.3);
  --danger-zone-color: #ff4557;

  --max-width: 70%;
  --margin-extra-big: 15rem;
  --margin-big: 8rem;
  --margin-medium: 6rem;
  --margin-small: 4rem;

  --default-font-size: 1.5rem;
  --link-font-size: 1.5rem;

  --big-border-radius: 0.8rem;
  --default-border-radius: 0.5rem;
}

/* Universal Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color-1) var(--bg-color-1);
}

html::-webkit-scrollbar {
  width: 0.5vw;
  background-color: var(--bg-color-2);
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-1);
  border-radius: var(--default-border-radius);
}

body {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    'IBM Plex Sans', sans-serif;
  font-size: var(--default-font-size);
  color: var(--text-color-1);
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
input {
  color: inherit;
  font-family: inherit;
  display: inline-block;
}

/* ******************** 404 Page ******************* */
.container-404 {
  min-height: 100vh;
  background-color: var(--bg-color-2);
  position: relative;
  background-image: url('/img/bgs/stars.svg');
}

/* ******************** 401 Page ******************* */
.container-401 {
  min-height: 100vh;
  background-color: var(--bg-color-2);
  position: relative;
  background-image: url('/img/bgs/stars.svg');
}

.logo-box {
  cursor: pointer;
  position: absolute;
  top: 6rem;
  left: 8rem;
  width: 13rem;
}

#logo {
  pointer-events: none;
}

.error-container {
  width: 80%;
  margin: 0 auto;
  padding: 15rem 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.error__illustration-box {
  max-width: 42%;
  margin-top: 30px;
  width: 100%;
  height: 45rem;
  pointer-events: none;
  margin-right: var(--margin-big);
}

.error__illustration-box img {
  width: 100%;
}

.error__illustration-special {
  margin-top: 30px;
  border-radius: var(--big-border-radius);
  background-color: var(--accent-color-1);
  box-shadow: var(--box-shadow-2);
}

.error__content-box {
  max-width: 35%;
  width: 100%;
}

.border-404 {
  border-left: 5px solid var(--accent-color-1);
  padding-left: 3rem;
}

.error__text {
  margin-bottom: 3rem;
}

.error-desc {
  margin-bottom: 4rem;
}

/* ****************** Utilities ******************** */
a:link,
a:visited {
  font-size: var(--link-font-size);
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
}

.btn {
  cursor: pointer;
  display: inline-block;
  color: var(--font-color-3);
  font-weight: 500;
  padding: 0.8rem 2.2rem;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.btn--start {
  background-color: var(--accent-color-1);
  border-radius: var(--default-border-radius);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease;
}

.btn--start:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-medium);
}

.btn--start:active {
  transform: translateY(0px);
  box-shadow: var(--shadow-light);
}

.heading-primary {
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.35;
  text-shadow: var(--shadow-dark);
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--font-color-2);
}

#brand {
  color: var(--accent-color-1);
}
