@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

:root {
  --bg-color-1: #272732;
  --bg-color-2: #2b2b3d;
  --bg-color-3: #202035;
  --bg-color-4: #2a2c43;
  --bg-color-5: #242834;

  --font-color-1: #d0cae5;
  --font-color-2: #c3c2c7;
  --font-color-3: #ffffff;

  --accent-color-1: #7464fb;
  --accent-color-2: #8259ec;
  --accent-color-3: #5c54cb;
  --accent-color-4: #6464fb;

  --danger-zone-color: #ff4557;

  --max-width: 70%;

  --margin-extra-big: 15rem;
  --margin-big: 8rem;
  --margin-medium: 6rem;
  --margin-small: 4rem;

  --default-font-size: 1.8rem;
  --link-font-size: 1.5rem;

  --big-border-radius: 0.8rem;
  --default-border-radius: 0.5rem;

  --shadow-dark: 1rem 2.5rem 6rem rgba(0, 0, 0, 0.35);
  --shadow-medium: 1rem 2rem 4.5rem rgba(0, 0, 0, 0.35);
  --shadow-light: 1rem 1.5rem 2rem rgba(0, 0, 0, 0.25);
  --shadow-accent: 0.5rem 1rem 4rem rgba(131, 89, 236, 0.25);
}

/* Universal Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color-1) var(--bg-color-1);
}

html::-webkit-scrollbar {
  width: 0.5vw;
  background-color: var(--bg-color-2);
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-1);
  border-radius: var(--default-border-radius);
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: var(--default-font-size);
  color: var(--font-color-1);
  font-weight: 400;
  min-height: 100vh;
  line-height: 1.5;
  /* background-image: linear-gradient(
    to right bottom,
    rgba(43, 43, 61, 0.9),
    rgba(35, 30, 54, 0.8)
  ); */
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

h1,
h2,
h3,
p,
input {
  color: inherit;
  font-family: inherit;
  display: inline-block;
}

/* --------------------  Conatiner -------------------- */

.container {
  position: relative;
  padding: 7rem 0 0 0;
  backface-visibility: hidden;
  position: relative;
}

.header__container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(43, 43, 61, 0.95),
      rgba(35, 30, 54, 0.9)
    ),
    url('/img/bgs/bg11.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -100;
}

/* --------------------  Header Container -------------------- */
.header__container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15rem;
}

/* --------------------  Navigation -------------------- */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-extra-big);
}

/* --------------------  Navigation Logo -------------------- */
.logo-box {
  cursor: pointer;
}

#logo {
  min-height: 3rem;
}

/* --------------------  Navigation Links -------------------- */
.nav__items ul,
.nav__featured-links,
.nav__form-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__featured-links {
  margin-right: var(--margin-big);
}

.nav__featured-links li:not(:last-child),
.nav__form-links li:not(:last-child) {
  margin-right: var(--margin-small);
}

.nav__link {
  color: inherit;
  position: relative;
}

.nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -0.35rem;
  left: 0%;
  height: 0.128rem;
  background-color: var(--accent-color-1);
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: all 0.3s ease;
}

.nav__link:hover::after {
  transform: scale(1, 1);
}

a:link,
a:visited {
  font-size: var(--link-font-size);
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

a.nav__link:hover {
  color: var(--accent-color-1);
}

/* --------------------  Reusable Navigation Button -------------------- */
.btn {
  cursor: pointer;
  display: inline-block;
  color: var(--font-color-3);
  font-weight: 500;
  padding: 0.8rem 2.2rem;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.btn--start {
  background-color: var(--accent-color-1);
  border-radius: var(--default-border-radius);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease;
}

.btn--start:hover {
  font-weight: 500;
  transform: translateY(-3px);
  box-shadow: var(--shadow-medium);
}

.btn--start:active {
  transform: translateY(0px);
  box-shadow: var(--shadow-light);
}

/* --------------------  Header -------------------- */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description,
.illustration-box {
  max-width: 45%;
  width: 100%;
}

/* --------------------  Reusable Illustration Box -------------------- */
.illustration-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 1.3rem;
  border-radius: 5rem;
  border: 1rem solid var(--accent-color-1);
  margin-left: var(--margin-small);
  box-shadow: 2rem 4rem 6rem rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

.illustration {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  margin: 0;
  /* filter: drop-shadow(var(--shadow-dark)); */
}

.header__description-wrapper {
  margin-bottom: var(--margin-medium);
}

/* --------------------  Features Section -------------------- */
.features {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 6rem;
  padding-top: 3rem;
}

.features__heading {
  display: inline-block;
  padding-bottom: 2rem;
  margin-bottom: var(--margin-big);
}

.features__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__illustration-box {
  max-width: 50%;
  width: 100%;
  margin-right: var(--margin-big);
  pointer-events: none;
}

.features__box {
  max-width: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.feature {
  max-width: 40%;
  margin-bottom: var(--margin-big);
}

.feature__icon-box {
  height: 2.5rem;
  margin-bottom: var(--margin-medium);
  pointer-events: none;
}

.feature__icon-box img {
  height: 6rem;
}

.feature__text-box {
  margin-top: var(--margin-medium);
}

/* --------------------  How It Works Section -------------------- */
.action {
  text-align: center;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4.5rem;
  padding-top: 4rem;
}

.action__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action__heading {
  display: inline-block;
  margin-bottom: var(--margin-big);
  padding-bottom: 2rem;
}

.action__illustration-box {
  max-width: 45%;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.action__text-box {
  max-width: 45%;
  width: 100%;
  padding: 3rem;
  text-align: center;
}

.action-heading {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 700;
  text-transform: capitalize;
}

.action-paragraph {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

/* --------------------  Footer -------------------- */
.footer {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 15rem 10rem 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo-box {
  height: 4rem;
  margin-bottom: var(--margin-medium);
}

/* --------------------  Registration And Login  -------------------- */
.registration--container,
.login--container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem;
  position: relative;
}

.registration--container::after,
.login--container::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(43, 43, 61, 0.92),
      rgba(35, 30, 54, 0.92)
    ),
    url('/img/bgs/bg9.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1000;
}

.registration--navigation,
.login--navigation {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5.5rem 0;
}

.registration__nav-links ul,
.login__nav-links ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.registration__nav-links li:not(:last-child),
.login__nav-links li:not(:last-child) {
  margin-right: var(--margin-medium);
}

#registration--container,
#login--container {
  max-width: 65%;
  margin: 0 auto;
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    105deg,
    var(--accent-color-1) 0 45%,
    var(--bg-color-1) 45% 100%
  );
  padding: 4rem 3rem 4rem 8rem;
  border-radius: 2rem;
  box-shadow: var(--shadow-dark);
}

.registration--illustration-box,
.login--illustration-box {
  width: 110rem;
  margin-right: var(--margin-big);
  pointer-events: none;
  border: 3px solid var(--accent-color-1);
}

.registration--details-box,
.login--details-box {
  margin-right: var(--margin-medium);
}

.registration--intro {
  margin-bottom: 2rem;
}

.login--intro {
  margin-bottom: 3rem;
}

.login--redirect {
  text-align: center;
  width: 95%;
}

.registration-redirect {
  text-align: center;
  width: 95%;
  margin-top: 3rem;
}

#form {
  width: 100%;
  margin-bottom: 2rem;
}

.input--field {
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--bg-color-1),
    var(--bg-color-5)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
  border-radius: 10rem;
  border: 2.5px solid var(--accent-color-1);
}

.input--field i {
  color: var(--font-color-2);
  font-size: 1.2rem;
}

input {
  width: 100%;
  font-size: 1.45rem;
  font-weight: 500;
  color: var(--font-color-1);
  padding: 1.1rem 0.7rem 1.1rem 1.5rem;
  background: none;
  outline: none;
  border: none;
}

.input--field input::placeholder {
  color: var(--font-color-2);
  font-weight: 500;
}

.start--btn {
  width: 95%;
  margin-top: 3rem;
  text-align: center;
}

.start--btn button {
  border: none;
  outline: none;
}

.show-btn {
  font-size: 1.7rem;
  color: var(--accent-color-1);
  cursor: pointer;
  display: none;
}

/* -------------------- Email -------------------- */
.email-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.email-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(43, 43, 61, 0.9),
      rgba(35, 30, 54, 0.9)
    ),
    url('../../img/bgs/bg11.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.email-navigation {
  max-width: 50%;
  width: 100%;
  display: flex;
  margin-top: -2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-medium);
}

.email__error-box {
  max-width: 60%;
  width: 100%;
  min-height: 70vh;
  background-image: linear-gradient(
    to right bottom,
    var(--bg-color-1),
    var(--bg-color-2)
  );
  border-radius: 2rem;
  box-shadow: var(--shadow-accent);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.email__illustration-box {
  max-width: 60%;
  width: 100%;
  pointer-events: none;
  margin-right: var(--margin-big);
  pointer-events: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.email__illustration-special {
  background-color: var(--accent-color-1);
}

.email__error-details {
  max-width: 50%;
  padding: 8rem 3rem;
}

/* .email__sent-box {
  max-width: 90%;
  margin: 0 auto;
} */

.email-form {
  width: 70%;
}

.email__input--field {
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--bg-color-1),
    var(--bg-color-5)
  );
  padding: 1.15rem 2.5rem;
  margin-bottom: 2rem;
  border-radius: 10rem;
  border: 2px solid var(--accent-color-2);
}

.send-btn {
  width: 40%;
  margin: 0 auto;
}

/* --------------------  Utilities -------------------- */
.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

#decoration {
  font-size: 3rem;
  background-color: var(--bg-color-2);
  color: var(--accent-color-1);
  padding: 0.3rem 1.2rem;
  border: 4px solid var(--accent-color-1);
  border-radius: var(--big-border-radius);
}

#brand {
  font-size: 2.5rem;
  color: var(--accent-color-1);
}

.heading-primary {
  font-size: 4.2rem;
  line-height: 1.35;
  text-shadow: var(--shadow-medium);
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--font-color-2);
  letter-spacing: 0.1rem;
}

.heading-secondary--animated {
  font-size: 4.2rem;
  color: inherit;
  text-transform: uppercase;
  background-color: transparent;
  letter-spacing: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  transition: all 0.3s ease;
}

.heading-secondary--animated:hover {
  color: var(--accent-color-1);
  background-color: var(--bg-color-1);
  border-radius: var(--default-border-radius);
  transform: skew(13deg, 3deg) scale(1.03);
  box-shadow: var(--shadow-dark);
}

.heading-tertiary {
  line-height: 1.35;
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.paragraph {
  max-width: 85%;
  font-size: 2rem;
  font-weight: 500;
}

.paragraph-secondary {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
}

.paragraph-bold {
  font-size: 1.7rem;
  line-height: 1.5;
  font-weight: 600;
}

.member {
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.member--colored {
  color: var(--accent-color-1);
}

.center-text {
  text-align: center;
}

/* ------------  Show Toast ------------- */
.toast {
  position: absolute;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  bottom: 1.5rem;
  right: 50%;
  transform: translate(50%, 60px);
  padding: 1rem 2rem;
  background: var(--accent-color-1);
  color: var(--font-color-1);
  border-radius: 5px;
  box-shadow: var(--shadow-medium);
  transition: transform ease-in-out 0.2s;
}

.show.toast {
  transform: translate(50%, 0);
}

.center {
  text-align: center;
  margin-top: 3rem;
}

.center a:link,
.center a:visited {
  text-decoration: none;
  color: inherit;
  text-transform: none;
  color: var(--accent-color-1);
}

.margin-top-medium {
  margin-top: 4rem;
}
