<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/src/css/errors.css" />
    <title>Forbidden | Drop.it - Sharing Made Easy</title>
  </head>
  <body>
    <div class="container-401">
      <div class="logo-box" draggable="false">
        <a href="/">
          <img
            id="logo"
            src="/img/logo.svg"
            alt="Drop.it Logo"
            draggable="false"
          />
        </a>
      </div>

      <div class="error-container">
        <div class="error__illustration-box error__illustration-special">
          <img
            src="/img/illustrations/403ErrorForbiddenCuate.svg"
            alt=""
            class="illustration"
          />
        </div>
        <div class="error__content-box">
          <div class="error__text">
            <h1 class="heading-primary">Oops!</h1>
            <h2 class="heading-primary" id="brand">
              This is a restricted space.
            </h2>
          </div>
          <div class="error-desc">
            <p class="heading-secondary">
              This page has restricted access. Unfortunately, you don't have the
              permissions required to access this page.
            </p>
          </div>
          <div class="home-btn">
            <a href="/" class="btn btn--start">Return To Home</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
